.footer {
    bottom: 0;
    left: 0;
    position: relative;
    width: 100%;
    background: linear-gradient(180deg, #88CCA5 0%, #05B4E3 100%);
    padding: 16px 0;
}

.footer p {
    font-size: 1.6rem;
    font-weight: 500;
    color: #202827;
    text-align: center;
}